<footer class="site-footer"><!--span class="site-footer-owner"><a href="{{ site.url }}">{{ site.title }}</a> is maintained by <a href="{{ site.author.url }}">{{ site.author.name }}</a>.</span-->
  <!--span class="site-footer-owner"><a href="{{ site.url }}">{{ site.title }}</a> is maintained by <a href="{{ site.author.url }}">{{ site.author.name }}</a>.</span-->
  <span class="site-footer-credits">Copyright&copy;2017-2026 <a href="{{ site.siteurl }}">{{ site.name }}</a> All Rights Reserved&nbsp;
    <a href="http://www.miitbeian.gov.cn/">津ICP备2025042099号-1</a>&nbsp;<a href="https://beian.mps.gov.cn/#/query/webSearch?code=12011002026008" rel="noreferrer"
     target="_blank"><img src="/beian.png" style="border: none; margin-bottom: -4px; margin-left: 4px; margin-right: 2px; width: 20px;"/>津公网安备12011002026008号</a></span>
</footer>
