<footer class="site-footer"><!--span class="site-footer-owner"><a href="{{ site.url }}">{{ site.title }}</a> is maintained by <a href="{{ site.author.url }}">{{ site.author.name }}</a>.</span-->
  <!--span class="site-footer-owner"><a href="{{ site.url }}">{{ site.title }}</a> is maintained by <a href="{{ site.author.url }}">{{ site.author.name }}</a>.</span-->
  <span class="site-footer-credits">Copyright&copy;2017-2026 <a href="{{ site.siteurl }}">{{ site.name }}</a> All Rights Reserved&nbsp;
    <a href="http://www.miitbeian.gov.cn/">津ICP备2025042099号-1</a>&nbsp;
    <!--a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41021102000068">
        <img src="/image/beian.png" style="margin-bottom: -4px"/>
      豫公网安备 </a--></span>
</footer>
